<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOLA MUNDO</h1>

    <table>
        <tbody>
         {% for i in cliente %}
          <tr>
            <td> {{ i.codigo  }} </td>
            <td> {{ i.nombre  }} </td>
            <td> {{ i.apellido  }} </td>
            <td> {{ i.telefono  }} </td>


          </tr>
         {% endfor %}

        </tbody>

    </table>
</body>
</html>